/* Top portion of pages */
header {
    border-bottom: solid 4px rgb(76, 175, 175);
    width: 100%;
}

h1 {
    background-color: rgb(76, 175, 175);
    width: 200px;
    text-align: center;
    padding: 5px;
    margin: 0 0 0 0;
    color: white;
    display: block;
    float: left;
    position: relative;
    left: 15%;
}

h2{
    display: block;
    color: rgb(76, 175, 175);
    text-align: left;
}
/* Allows center portion to span max height of the screen */
.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* Center background of the middle portion of the pages */
.container{
    flex: 1;
    background-image:url("../images/concrete-texture.png");
    text-align: center;
    background-size: cover;

}
/* Center portion for text, images, contact */
.content{
    width: 960px;
    height: 70%;
    background: white;
    border: solid 2px rgb(76, 175, 175);
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
/* Bottom footer of all pages */
#copyright {
    color: white;
    text-align: center;
    background-color: grey;
    margin: 0;
    height: 10%;
    width: 100%;
    padding: 15px 15px 0 15px;
    font-size: 18px;
    border-top: solid 4px rgb(76, 175, 175);
    overflow: hidden;
}

.nav {
    display: block;
    float: right;
    width: 35%;
    padding: 10px;
    margin: 5px;
}

a {
    text-decoration: none;
    display: inline;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    color: black;
    }

#tnav a:hover {
    background-color: rgb(153, 152, 152);
}
/* Shows what current page user is on in nav */
.active {
    background-color: rgb(76, 175, 175);
    color: white;
}

p {
    text-align: left;
}
/* Horizontal line to break sub header away from content */
hr{
    border-width: 1px;
}

.profile-img {
    float: left;
    padding: 10px;
    margin: 5px;
}
/* CSS for contact form */
.contact{
    text-align: left;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* submit button with a specific background color */
input[type=submit] {
    background-color: rgb(76, 175, 175);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(44, 131, 131);
}
/* Div to hold images for gallery */
.gallery-img {
    float: left;
    padding: 10px;
    margin: 10px;
    position: relative;
}
/* Names for portfolio gallery at bottom of images */
.name{
    position: absolute;
    width: 300px;
    bottom: 15px;
    text-align: center;
    background-color: rgb(76, 175, 175);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
}


@media screen and (max-width: 980px) {
    /* Center portion for text, images, contact */
  .content {
     width: 70%;
     height: 60%;
     padding: 12px;
     margin: 12px;
     margin-left: 6%;
    }

    h1 {
        width: 200px;
        text-align: center;
        padding: 5px;
        margin: 0 0 0 0;
        left: 6%;
    }
    /* margin reduced to remove excess space */
    h2 {
        margin: 10px;
    }
    /* moves central container for content left instead of being center align */
    .container{
        text-align: left;
    }
    /* reduction of nav for more equality compared to h2 */
    .nav {
        width: 30%;  
    }

    a {
        padding: 12px;
        font-size: 16px;
        }
    /* image size within container in response to screen size */
    .gallery-img img{
        width: 90%;
        height: 90%;
    }

    .gallery-img {
        width: 40%;
    }
    .name {
        width: 83%;
}

@media screen and (max-width: 768px) {

    .content {
        width: 90%;
        height: 60%;
        padding: 12px;
        margin: 12px;
    }
       .container{
        text-align: center;
    }
    h1 {
        width: 200px;
        text-align: center;
        padding: 5px;
        margin: 0 0 0 0;
        left: 3%;
    } 
    
    a {
        padding: 8px;
        font-size: 14px;
        }

    .name {
            width: 83%;
            right: 8.4%;
    }
}
@media screen and (max-width: 640px) {
   
    header {
        position: static;
    }
    /* h1 brought above  */
    h1 {
        display: block;
        width: 100%;
    }
    /* porportionalizing nav to match size and to center */
    .nav {
        width: 60%;
    }
    .profile-img {
        display: block;
        width: 90%;
    }
    .gallery-img{
        display: block;
        width: 90%;
    }


}
}